{% extends 'hospital/master.html' %} 
{% block title %}Online appointment portal{% endblock title %}
{% block body %}
<div class="container py-2">
<h1 align="center" style="font-family:Stencil Std, fantasy;">Welcome to online appointment portal</h1>
</div>
<form method="post" enctype="multipart/form-data">
{%csrf_token%}
<div class="container py-2" >
<table border="3px" align="center" cellpadding="8px" cellmargin="2px">
{{form.as_table}}
</table>
<div class="col py-2" align="center"  >
<button class="btn btn-primary" type="submit">Submit</button>
<input class="btn btn-danger" type="reset" value="Reset">  
</div>
</div>
</form>
{%endblock%}