{% extends 'hospital/master.html' %} {% block title %}Check beds avilability{% endblock title %} {% block body %}{%for i in data%}<br>
<div class="container" style="background-color:antiquewhite">
    <br>
    <table border="1%" cellspacing="40%" cellpadding="10%" align="center">
        <tr>
            <th>Total Beds</th>
            <th>Avilable beds</th>
        </tr>
        <tr>
            <td>{{ i.Total_beds}}</td>
            <td>{{i.Avilable_beds }}</td>
        </tr>
    </table><br>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width:{{ i.Avilable_beds}}" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">Avilable Beds</div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Booked Beds</div>
    </div><br>
</div><br>{%endfor%}{% endblock%}